//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.03 Education
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9C
//Created Time: Wed 06 22 07:47:27 2022

IO_LOC "clk_in" 52;
IO_PORT "clk_in" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "uart_tx" 17;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 SLEW_RATE=SLOW PULL_MODE=UP DRIVE=8;
IO_LOC "uart_rx" 18;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "led[5]" 16;
IO_PORT "led[5]" IO_TYPE=LVCMOS18 SLEW_RATE=SLOW PULL_MODE=UP DRIVE=8 OPEN_DRAIN=ON;
IO_LOC "led[4]" 15;
IO_PORT "led[4]" IO_TYPE=LVCMOS18 SLEW_RATE=SLOW PULL_MODE=UP DRIVE=8 OPEN_DRAIN=ON;
IO_LOC "led[3]" 14;
IO_PORT "led[3]" IO_TYPE=LVCMOS18 SLEW_RATE=SLOW PULL_MODE=UP DRIVE=8 OPEN_DRAIN=ON;
IO_LOC "led[2]" 13;
IO_PORT "led[2]" IO_TYPE=LVCMOS18 SLEW_RATE=SLOW PULL_MODE=UP DRIVE=8 OPEN_DRAIN=ON;
IO_LOC "led[1]" 11;
IO_PORT "led[1]" IO_TYPE=LVCMOS18 SLEW_RATE=SLOW PULL_MODE=UP DRIVE=8 OPEN_DRAIN=ON;
IO_LOC "led[0]" 10;
IO_PORT "led[0]" IO_TYPE=LVCMOS18 SLEW_RATE=SLOW PULL_MODE=UP DRIVE=8 OPEN_DRAIN=ON;

IO_LOC "sw[1]" 4;
IO_PORT "sw[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "sw[0]" 3;
IO_PORT "sw[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "ad[6]" 25;  // J5-5
IO_PORT "ad[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP;                           // input
IO_LOC "ad[7]" 26;  // J5-6
IO_PORT "ad[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP;                           // input
IO_LOC "ad[4]" 27;  // J5-7
IO_PORT "ad[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP;                           // input
IO_LOC "ad[5]" 28;  // J5-8
IO_PORT "ad[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP;                           // input
IO_LOC "ad[2]" 29;  // J5-9
IO_PORT "ad[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;                           // input
IO_LOC "ad[3]" 30;  // J5-10
IO_PORT "ad[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;                           // input
IO_LOC "ad[0]" 33;  // J5-11
IO_PORT "ad[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;                           // input
IO_LOC "ad[1]" 34;  // J5-12
IO_PORT "ad[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;                           // input

IO_LOC "vsync_in" 55;  // J5-20
IO_PORT "vsync_in" IO_TYPE=LVCMOS33 PULL_MODE=UP;                         // input
IO_LOC "hsync_in" 56;  // J5-21
IO_PORT "hsync_in" IO_TYPE=LVCMOS33 PULL_MODE=UP;                         // input
IO_LOC "pixel_in" 57;  // J5-22
IO_PORT "pixel_in" IO_TYPE=LVCMOS33 PULL_MODE=UP;                         // input

IO_LOC "rst" 63;  // J6-1
IO_PORT "rst" IO_TYPE=LVCMOS33 SLEW_RATE=SLOW PULL_MODE=NONE DRIVE=8;    // output
IO_LOC "da[6]" 86;  // J6-2
IO_PORT "da[6]" IO_TYPE=LVCMOS18 SLEW_RATE=SLOW PULL_MODE=NONE DRIVE=8;  // output
IO_LOC "da[7]" 85;  // J6-3
IO_PORT "da[7]" IO_TYPE=LVCMOS18 SLEW_RATE=SLOW PULL_MODE=NONE DRIVE=8;  // output
IO_LOC "da[4]" 84;  // J6-4
IO_PORT "da[4]" IO_TYPE=LVCMOS18 SLEW_RATE=SLOW PULL_MODE=NONE DRIVE=8;  // output
IO_LOC "da[5]" 83;  // J6-5
IO_PORT "da[5]" IO_TYPE=LVCMOS18 SLEW_RATE=SLOW PULL_MODE=NONE DRIVE=8;  // output
IO_LOC "da[2]" 82;  // J6-6
IO_PORT "da[2]" IO_TYPE=LVCMOS18 SLEW_RATE=SLOW PULL_MODE=NONE DRIVE=8;  // output
IO_LOC "da[3]" 81;  // J6-7
IO_PORT "da[3]" IO_TYPE=LVCMOS18 SLEW_RATE=SLOW PULL_MODE=NONE DRIVE=8;  // output
IO_LOC "da[0]" 80;  // J6-8
IO_PORT "da[0]" IO_TYPE=LVCMOS18 SLEW_RATE=SLOW PULL_MODE=NONE DRIVE=8;  // output
IO_LOC "da[1]" 79;  // J6-9
IO_PORT "da[1]" IO_TYPE=LVCMOS18 SLEW_RATE=SLOW PULL_MODE=NONE DRIVE=8;  // output
IO_LOC "den_n" 77;  // J6-10
IO_PORT "den_n" IO_TYPE=LVCMOS33 SLEW_RATE=SLOW PULL_MODE=NONE DRIVE=8;  // output

IO_LOC "ps2_dta" 51;  // J5-17
IO_PORT "ps2_dta" IO_TYPE=LVCMOS33 PULL_MODE=UP;                         // input
IO_LOC "ps2_clk" 53;  // J5-18
IO_PORT "ps2_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;                         // input

IO_LOC "test_in" 76;  // J6-11
IO_PORT "test_in" IO_TYPE=LVCMOS33 PULL_MODE=UP;                         // input

IO_LOC "tmds_p[2]" 75,74;
IO_LOC "tmds_p[1]" 73,72;
IO_LOC "tmds_p[0]" 71,70;
IO_LOC "tmds_clock_p" 69,68;
IO_PORT "tmds_p[2]" PULL_MODE=NONE DRIVE=4 DRIVE=4 SLEW_RATE=SLOW;
IO_PORT "tmds_p[1]" PULL_MODE=NONE DRIVE=4 DRIVE=4 SLEW_RATE=SLOW;
IO_PORT "tmds_p[0]" PULL_MODE=NONE DRIVE=4 DRIVE=4 SLEW_RATE=SLOW;
IO_PORT "tmds_clock_p" PULL_MODE=NONE DRIVE=4 DRIVE=4 SLEW_RATE=SLOW;
